{% extends 'base.html.twig' %}
{% block title %}IAM - Penjar curriculum{% endblock %}
{% block cos %}

{{ form_start(form, {"enctype":"multipart/form-data"}) }}


{{ form_end(form) }}
{% endblock %}
{% block vue %}
{% endblock %}