{% extends 'base.html.twig' %}

{% block title %}Registre d'usuari{% endblock %}
{% block sessio %}
    <section>
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1 class="titul-inserir">Registre Usuari</h1>
            <div class="formUsuari">
                {{ form(form) }}
            </div>
{% endblock %}
{% endblock %}
