{% extends 'base.html.twig' %}
{% block title %}IAM - Candidats incribits{% endblock %}
{% block cos %}
        <div class="table-wrapper">
        <h3>Num d'inscripcions: {{inscripcions}}</h3>
            <table class="alt">
                <thead>
                    <tr>
                        <th>Titol</th>
                        <th>Nom de empresa</th>
                        <th>Id usuari</th>
                        <th>Usuari</th>
                        <th>Email</th>
                        <th>Data inscripcio</th>
                        <th>Carta de presentacio</th>
                    </tr>
                </thead>
                {% for candidat in candidats %}
                <tr>
                    <td>{{ candidat.oferta.titol }}</td>
                    <td>{{ candidat.oferta.nomEmpresa }}</td>
                    <td>{{ candidat.usuari.usuariID}}</td>
                    <td>{{ candidat.usuari.usuari}}</td>
                    <td>{{ candidat.usuari.email}}</td>
                    <td>{{ candidat.hora|date('Y-m-d H:i:s')}}</td>
                    <td>{{ candidat.cartaPres}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}
{% block vue %}
{% endblock %}