{% extends 'base.html.twig' %}
{% block title %}IAM - Totes les ofertes{% endblock %}
{% block sessio %}
    <div class="row gtr-uniform">
        <div class="col-1 col-12-small">
        </div>
        <div class="col-2 col-12-small">
            <input type="radio" id="demo-priority-tots" name="demo-priority" checked @click="MostrarCategoria('tots')">
            <label for="demo-priority-tots">TOTES</label>
        </div>
        <div class="col-2 col-12-small">
            <input type="radio" id="demo-priority-DAW" name="demo-priority" @click="MostrarCategoria('DAW')">
            <label for="demo-priority-DAW">DAW</label>
        </div>
        <div class="col-2 col-12-small">
            <input type="radio" id="demo-priority-DAM" name="demo-priority"  @click="MostrarCategoria('DAM')">
            <label for="demo-priority-DAM">DAM</label>
        </div>
        <div class="col-2 col-12-small">
            <input type="radio" id="demo-priority-ASIX" name="demo-priority" @click="MostrarCategoria('ASIX')">
            <label for="demo-priority-ASIX">ASIX</label>
        </div>
        <div class="col-2 col-12-small">
            <input type="radio" id="demo-priority-SMIX" name="demo-priority" @click="MostrarCategoria('SMIX')">
            <label for="demo-priority-SMIX">SMIX</label>
        </div>
        <div class="col-1 col-12-small">
        </div>
    </div>
    <section class="tiles">
        <article :class="[ClassStyle(oferta)]" v-for="oferta in ofertesCategoria">
                <span class="image imageholder">
                        <span v-if="oferta.destacat" class="destacat">NEW</span>
                    	<span v-if="!oferta.validacio" class="inscrit icon style1 fa-user"></span>
                        <img :src="'build/images/'+oferta.Categoria.nom+'.jpg'" alt="" />
                </span>
            <a @click="MostrarInfoOferta(oferta)">
                <h2>{{"{{oferta.titol}}"}}</h2>
                <div class="content">
                    <p>{{"{{oferta.descripcio}}"}}</p>
                </div>
            </a>
        </article>
        <section v-if="mostrar_oferta">
            <div class="row gtr-uniform general open-oferta" >
                <div class="col-12 bloc-close">
                    <span class="close button primary icon fa-close small" @click="TancarOferta"></span>
                </div>
                <div class="col-10 no_Pb">
                    <h2>{{"{{ofertaActiu.titol}}"}}</h2>
                </div>
                <div class="col-2 no_Pb">{{"{{ofertaActiu.nomEmpresa}}"}}</div>
                <div class="col-12 no_Pb">
                    <p>{{"{{ofertaActiu.descripcio}}"}}</p></div>
                <div class="col-6 no_Pb">
                    <ul class="alt">
                        <li>Pagina Web: <span>{{"{{ofertaActiu.link}}"}}</span></li>
                        <li>Ubicacio: <span>{{"{{ofertaActiu.ubicacio}}"}}</span></li>
                        <li>Categoria: <span>{{"{{ofertaActiu.Categoria.nom}}"}}</span></li>
                        <li>Data de publicacio: <span>{{"{{ofertaActiu.dataPublicacio}}"}}</span></li>
                    </ul>
                </div>
                <div v-if="ofertaActiu.validacio" class="col-6 bloc_incriu no_Pb">
                    <div class="textarea-wrapper">
                        <h3>Carta de presentacio</h3>
                        <textarea v-model="carta" class="carta" placeholder="Escriu una carta de presentacio">

                        </textarea>
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="demo-human" name="demo-human" v-model="ofertaActiu.cv">
                        <label for="demo-human">Acepto enviar el meu CV</label>
                    </div>
                    <a @click="inscriure" class="button primary inscriure">Inscriure</a>
                </div>
                <div v-else class="col-6">
                    <h2 class="align-center">Ja estas Inscrit</h2>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block vue %}
    <script src="/build/js/vue.js"></script>
{% endblock %}
