{% extends 'base.html.twig' %}
{% block title %}IAM - Crear oferta{% endblock %}
{% block cos %}
    <h1 class="titul-inserir">INSERIR NOVA OFERTA</h1>
    <div class="formOferta">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col-6 col-12-xsmall">
                {{ form_row(form.titol,{'attr': {'placeholder': 'Introdueix un titol'},label:false }) }}
            </div>
            <div class="col-6 col-12-xsmall" id="some-custom-id">
                {{ form_row(form.nom_empresa,{'attr': {'placeholder': 'Introdueix un el nom de empresa'},label:false }) }}
            </div>
            <div class="col-12 col-12-xsmall" id="some-custom-id">
                {{ form_row(form.descripcio,{'attr': {'placeholder': 'Introdueix una descripcio'},label:false }) }}
            </div>
            <div class="col-12 col-12-xsmall" id="some-custom-id">
                {{ form_row(form.Ubicacio,{'attr': {'placeholder': 'Introdueix una adreça'},label:false }) }}
            </div>
            <div class="col-4 col-12-xsmall" id="some-custom-id">
                {{ form_row(form.link,{'attr': {'placeholder': 'Introdueix un link '},label:false }) }}
            </div>
            <div class="col-4 col-12-xsmall" id="some-custom-id">
                {{ form_row(form.Categoria,{label:false }) }}
            </div>
            <div class="col-4 col-12-xsmall" id="some-custom-id">
                {{ form_row(form.email,{'attr': {'placeholder': 'Introdueix un email'},label:false }) }}
                <small class="help-form">*El teu email no es fara public</small>
            </div>
            {{ form_row(form.submit, { 'attr': {'class': 'primary'} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block vue %}
{% endblock %}