{% extends 'base.html.twig' %}
{% block cos %}
    <div class="frase_success">
        <p>Oferta afegit correctament a l'espera de validació</p>
    </div>
    <div class="buttons_success">
        <a href="http://localhost:8000/afegiroferta" class="button">Afegir oferta</a> <a href="http://localhost:8000/" class="button">Tornar al Inici</a>
    </div>
{% endblock %}
{% block vue %}
{% endblock %}
