{% extends 'base.html.twig' %}
{% block title %}IAM - Panel Administrador{% endblock %}
{% block cos %}
{% for oferta in ofertes %}
<div class="oferta-view-admin row gtr-uniform">
        <h2 class="titol-view-admin">{{ oferta.titol }}</h2>
        <p class="descripcio-view-admin">{{ oferta.descripcio }}</p>
        <div class="col-6">
                <ul class="ul-view-admin alt">
                        <li class="empresa-view-admin">{{ oferta.nomempresa }}</li>
                        <li class="ubicacio-view-admin">{{ oferta.ubicacio }}</li>
                        <li class="link-view-admin">{{ oferta.link }}</li>
                        <li class="categoria-view-admin">{{ oferta.categoria.nom}}</li>
                        <li class="email-view-admin">{{ oferta.email}}
                        <li class="data-view-admin">{{ oferta.dataPublicacio|date('Y-m-d H:i:s')}}</li>
                        <li class="validacio-view-admin">{{ oferta.validacio ? 'Valid' : 'Pendent'}}
                </ul>
        </div>
        <div class="col-6 validacio-view-admin">
                <div class="butons-view-admin">
                        {% if oferta.validacio == 0 %}
                                <a href="http://localhost:8000/acceptar/{{ oferta.id }}" class="valist button primary icon fa-check-circle">Validar</a>
                        {% else %}
                                <a href="http://localhost:8000/LlistarCandidats/{{ oferta.id }}" class="valist button primary icon fa-list">Llistar</a>
                        {% endif %}
                        <a href="http://localhost:8000/update/{{ oferta.id }}" class="button icon fa-edit">Editar</a>
                        <a href="http://localhost:8000/eliminar/{{ oferta.id }}" class="button icon fa-trash">Eliminar</a>
                </div>
        </div>
</div>
{% endfor %}
{% endblock %}
{% block vue %}
{% endblock %}