<!DOCTYPE HTML>
<html>

<head>
    <title>{% block title %}IAM - Borsa de treball{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="google-signin-client_id" content="346943508129-epocq8e5orpblo07t17idriafcfh4h0i.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block stylesheet %}
    <link rel="stylesheet" href="/build/css/main.css" />
    <link rel="icon" href="/build/images/favicon.png">
    {% endblock %}
    
</head>

<body class="is-preload">
{% block body %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="http://localhost:8000/" class="logo">
                <span class="symbol"><img src="/build/images/logo5.png" alt="" /></span><span class="title">work together</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul id="appMenu">
            <li><a href="http://localhost:8000/">Inici</a></li>
            <li><a href="http://localhost:8000/afegiroferta">Crear Oferta</a></li>
            <li><a href="http://localhost:8000/LlistarTots">Administrador</a></li>
            <li v-if="logged"><a href="http://localhost:8000/MostrarOfertes">Ofertes</a></li>
            <li v-if="logged"><a :href="'http://localhost:8000/pujarCv/' + dadesUsuari.Id">Pujar Cv</a></li>
            <span id="googleSignIn" :class="[{ocult : logged} , 'button' , 'primary' , 'fit' , 'icon' ,'fa-google']" @click="onLoadGoogleCallback()">Iniciar sessió</span>
            <span id="googleSignOut" :class="[{ocult : !logged} , 'button' , 'primary' , 'fit' , 'icon' , 'fa-sign-out']" @click="signOut()">Tancar sessió</span>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner" id="app">
            <header>
                <h3 class="align-right">Treballem? Necessito algu com tu!</h3>
            </header>
            {% block sessio %}
            <section class="tiles">
                {% block cos %}
                    <div class="row gtr-uniform" id="appGrafic">
                    <div class="col-12 col-12-xsmall"><h1>ESTADISTIQUES D'OFERTES</h1></div>
                    <div class="col-3 col-12-xsmall"><h3 class="icon style1 fa-gamepad">DAM:{{"{{dam}}"}}</h3></div>
                    <div class="col-3 col-12-xsmall"><h3 class="icon style1 fa-code">DAW:{{"{{daw}}"}}</h3></div>
                    <div class="col-3 col-12-xsmall"><h3 class="icon style1 fa-wifi">ASIX:{{"{{asix}}"}}</h3></div>
                    <div class="col-3 col-12-xsmall"><h3 class="icon style1 fa-terminal">SMIX:{{"{{smix}}"}}</h3></div>
                    <div id="appGrafic">
                        <div id="content">
                            <canvas id="myChart" ></canvas>
                        </div>
                    </div>
                    </div>
                {% endblock %}
            </section>
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2>Contacta amb nosaltres</h2>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Nom" />
                        </div>
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Missatge"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Enviar" class="primary" /></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Segueix-nos</h2>
                <ul class="icons">
                    <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
                    <li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
                    <li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
                    <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </section>
            <ul class="copyright">
                <li>&copy; 2019 WMM. All rights reserved</li>
                <li>Disseny: <a href="http://html5up.net">HTML5 UP</a></li>
                <li>Empresa: WMM</li>
                <li>Avisos legals</li>
                <li>Politica de cookies</li>
            </ul>
        </div>
    </footer>

</div>
{% block javascripts %}
<!-- Scripts -->
<script src="/build/js/jquery.min.js"></script>
<script src="/build/js/browser.min.js"></script>
<script src="/build/js/breakpoints.min.js"></script>
<script src="/build/js/util.js"></script>
<script src="/build/js/main.js"></script>
<script src="/build/js/vueMenu.js"></script>
{% endblock %}
{% block vue %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="/build/js/grafic.js"></script>
{% endblock %}
{% endblock %}
</body>

</html>